.aboutContainer {
  position: absolute;
  bottom: 10%;
  right: 2%;
  z-index: 10;
}

.about-div {
  width: 200;
  font-size: 0.8rem;
}

.about-header {
  font-size: 0.8rem;
  margin-bottom: 6px;
  text-align: right;
}

.about-header:hover{
  font-size: 0.85rem;
  font-weight: bold
}

.about-content {
  width: 200px;
  text-align: justify;
  text-justify: inter-word;
  margin-right: 8px;
  margin-bottom: 4px;
}

.contact-div {
  width: 200px;
  font-size: 0.8rem;
}

.contact-content {
  font-size: 0.8rem;
  text-align: right;
}

.contact-content:hover{
  font-size: 0.82rem;
}

.cv-link {
  text-decoration: none;
  text-align: right;
  margin-bottom: 5px;
}