.headerText {
  color: white;
  font-size: 2rem;
  pointer-events: none;
  font-weight: lighter;
}
.secHeaderText {
  color: white;
  font-size: 1.3rem;
  font-style: italic;
  pointer-events: none;
  font-weight: lighter;
}

.headerContainer{
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 99;
  width: 100%;
  margin-top: 10px;
  pointer-events: none;
}

@media (max-width: 450px) {
  .headerContainer{
    position: relative;
  }
}