.projects-container {
  display: flex;
  flex-direction: column;
  z-index: 10;
  position: absolute;
  top: 10%;
  left: 5%;
}

.projects-main{
  font-size: 2rem;
}

.project-div {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
}

.project-header {
  font-size: 0.8rem;
}

.project-header:hover{
  font-size: 0.85rem;
  font-weight: bold
}

.initial-dropdown {
  font-size: 0.7rem;
}

.dropdown-sigil {
  margin-left: 4px;
  font-size: 0.7rem;
  margin-bottom: 6px;
  margin-top: 6px;
}

.dropdown-sigil:hover{
  font-size: 0.75rem;
  font-weight: bold
}
 
.desciption-gif {
  display: none;
}

.description-cont {
  width: 200px;
  margin-left: 10px;
  margin-bottom: 4px;
}

.description {
  width: 200px;
  font-size: 0.7rem;
  margin-bottom: 2px;
  text-align: left;
}

.tech-div {
  font-size: 0.7rem;
  width: 200px;
  margin-left: 10px;
  margin-bottom: 4px;
}

.tech{
font-size: 0.7rem;
}

.link {
  text-decoration: none;
  color: white;
}

.link-content{
  font-size: 0.7rem;
  width: 200px;
  margin-left: 10px;
  margin-bottom: 4px;
}

/* transitions */ 
.initial-enter {
  opacity: 0.01;
  height: 0;
}
.initial-enter-active {
  opacity: 1;
  height: auto;
  transition: all 200ms ease-out;
}
.initial-exit {
  opacity: 1;
  height: auto;
}
.initial-exit-active {
  opacity: 0.01;
  height: 0;
  transition: all 200ms ease-out;
}

/* Media */

@media (max-width: 900px) {
  .projects-main{
    font-size: 1.5rem;
  }
  
  .project-div {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
  }
  
  .project-header {
    font-size: 0.7rem;
  }
  
  .project-header:hover{
    font-size: 0.75rem;
    font-weight: bold
  }
  
  .initial-dropdown {
    font-size: 0.6rem;
  }
  
  .dropdown-sigil {
    margin-left: 4px;
    font-size: 0.6rem;
    margin-bottom: 6px;
    margin-top: 6px;
  }
  
  .dropdown-sigil:hover{
    font-size: 0.65rem;
    font-weight: bold
  }
  
  .description-cont {
    width: 150px;
    margin-left: 10px;
    margin-bottom: 4px;
  }
  
  .description {
    width: 150px;
    font-size: 0.6rem;
    margin-bottom: 2px;
    text-align: left;
  }
  
  .tech-div {
    font-size: 0.6rem;
    width: 150px;
    margin-left: 10px;
    margin-bottom: 4px;
  }
  
  .tech{
  font-size: 0.6rem;
  }
  
  .link {
    text-decoration: none;
    color: white;
  }
  
  .link-content{
    font-size: 0.6rem;
    width: 150px;
    margin-left: 10px;
    margin-bottom: 4px;
  }
}

@media (max-width: 450px) {
  .projects-container {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0%;
    top: 0%;
    padding: 4px;
  }

  .project-div {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    margin-left: 10px;
  }

  .description-cont {
    width: 300px;
    margin-left: 10px;
    margin-bottom: 4px;
  }
  
  .desciption-gif {
    display: block;
    width: 200px;
  }

  .description {
    width: 300px;
    font-size: 0.6rem;
    margin-bottom: 2px;
    text-align: left;
  }
  
  .tech-div {
    font-size: 0.6rem;
    width: 300px;
    margin-left: 10px;
    margin-bottom: 4px;
  }
  
  .tech{
  font-size: 0.6rem;
  }
  
  .link {
    text-decoration: none;
    color: white;
  }
  
  .link-content{
    font-size: 0.6rem;
    width: 300px;
    margin-left: 10px;
    margin-bottom: 4px;
  }
}